<div class="page">

    {{#block "header"}}
        <!doctype html>
        <html lang="en">
        <head>

            <meta charset="UTF-8">
            <title>{{#block "title"}}{{/block}}</title>
            <link href="/css/theme/bootstrap.css" rel="stylesheet" >
            <link href="/css/theme/font-awesome.css" rel="stylesheet" >
            <link href="/css/theme/linecons.css" rel="stylesheet">

        </head>

    {{/block}}

    <body>

    {{#block "content"}}
    {{/block}}

    {{#block "footer"}}
    {{/block}}

    </body>


</html>

</div>