<div class="page">

    {{#block "header"}}
        <!doctype html>
        <html lang="en">
        <head>

            <meta charset="UTF-8">
            <title>{{#block "title"}}{{/block}}</title>
            <link rel="stylesheet" href="/css/bootstrap.min.css">

        </head>

    {{/block}}

    <body>

    {{#block "content"}}
    {{/block}}

    {{#block "footer"}}
    {{/block}}

  
    </body>


</html>

</div>