{{#partial "content"}}
    <h1>Hi! Welcome to the TaskList </h1>
    <em>A way to set your tasks for the day and prioritize them in categories of importance.</em>
<br>
<br>

    <form method="get" action="chooseName">
    <button>Let's Get Started</button>
    </form>

{{/partial}}

{{> base.hbs}}