{{#partial "content"}}
    <h1>Hi! Welcome to the TaskList </h1>
    <em>A way to set your tasks for the day and prioritize them in categories of importance.</em>
<br>
<br>

    <form method="post" action="signin">
        <div class="form-group">
            <input type="text" class="form-control" id="listNameInput" name="listNameInput" placeholder="TaskList Name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="userName" name="userName" placeholder="Your Name">
        </div>

        <button type="submit" class="btn btn-default">Let's Get To Work!</button>

    </form>

{{/partial}}

{{> base.hbs}}